body {
/*  display: flex;*/
  justify-content: center;
  align-items: center; 
  height: 100vh;
  background-color: #f0f0f0;
  margin: 20;
  font-family: Arial;
}

.carousel {
/*  display: flex; */
  align-items: center;
  gap: 50px;
}

.carousel img {
  max-width: 800px;
  max-height: 600px;
  border: 10px solid #ccc;
  border-radius: 5px;
}

button {
  font-size: 2rem;
  padding: 5px;
  cursor: pointer;
}