body {
  display: flex;
/*  justify-content: center;
  align-items: center; */
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.carousel2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.carousel2 iframe {
  max-width: 1200px;
  max-height: 1200px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
}